<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kustim_v01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="미니핀"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB5Merj0B0OUmq3uTKvpz3k_rN7hCctbhM" />
        <activity
            android:name=".MainActivity"
            android:label="미니핀"></activity>
        <activity android:name=".FirstlogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".PromiseRegisterActivity"/>
        <activity android:name=".MoneyRegisterActivity"/>
        <activity android:name=".WakeupRegisterActivity"/>
        <activity android:name=".CleanRegisterActivity"/>
        <activity android:name=".HealthRegisterActivity"/>
        <activity android:name=".ConfigActivity"/>
        <activity android:name=".LocationActivity"/>
        <activity android:name=".popup.PopupActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".popup.PopupActivity2" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".popup.PopupActivity3" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".popup.PopupActivity4" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".popup.PopupActivity5" android:theme="@android:style/Theme.Dialog"/>
    </application>

</manifest>